.scroll-menu {
  overflow: auto;
  white-space: nowrap;
}

.link {
  background-color: white;
  border: none;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  font-size: larger;
}