.blog-grid-container {
  display: flex;
  height: 550px;
}

.right-block {
  display: block;
}

.item-1 {
  padding-right: 12px;
}

.item-2 {
  padding-left: 12px;
  padding-bottom: 12px;
}

.item-3 {
  padding-left: 12px;
  padding-top: 12px;
}

.item-4 {
  padding: 16px 0px;
  width: 100%;
  height: 246px;
}

@media (max-width: 1024px) {
  .blog-grid-container {
    display: block;
    height: auto;
  }

  .right-block {
    width: 100%;
  }

  .item-1 {
    width: 100%;
    padding-right: 0px;
  }

  .item-2 {
    padding-left: 0px;
    padding-bottom: 0px;
  }

  .item-3 {
    padding-left: 0px;
    padding-top: 0px;
  }

  .item-4 {
    padding: 0px;
    height: 100%;
  }
}
